@import url('https://fonts.googleapis.com/css?family=Chicle|Metal+Mania|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}
input,
button {
  border: 0;
  background: none;
}
input:focus,
button:focus {
  outline: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
.loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: loading .6s linear infinite;
}
.app {
  width: 100%;
}
.title_container {
  background-color: #737284;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .title_container {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
.main_container {
  margin: 1% 0;
  box-sizing: border-box;
}
.title {
  font-family: 'Chicle', cursive;
  font-size: 2em;
  font-weight: 400;
  color: #ff971e;
  border: 0.1em double #737284;
  background-color: #35323d;
  padding: .1em 1.1em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (max-width: 1200px) {
  .title {
    display: flex;
    align-items: center;
    padding: 0 3%;
  }
}
.menu {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 768px) {
}
.menu_button {
  display: none;
}
@media only screen and (max-width: 768px) {
  .menu_button {
    display: block;
  }
}
.menu_main {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .menu_main {
    position: absolute;
    top: 5.3em;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: column;
    align-items: stretch;
  }
}
@media only screen and (max-width: 768px) {
  .menu_main_items {
    display: flex;
    flex-direction: column;
  }
}
.menu_item {
  width: 6em;
}
.menu_item:hover {
  color: #ffd545;
  transition: .3s;
}
@media only screen and (max-width: 768px) {
  .menu_item {
    background: linear-gradient(#737284 80%, #ccc);
    width: 100%;
    text-align: start;
    padding: 0.3em 1em;
  }
}
.menu_item_name {
  font-size: 1.1em;
}
.sidebar {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 2% 5%;
  font-family: 'Stalinist One', cursive;
  font-size: 12px;
  z-index: 2;
  background-color: #737284;
  width: 500%;
}
.sidebar button {
  color: #ffffff;
}
.sidebar button:hover {
  font-size: 1.1em;
  transition: .5s;
  color: #2bb59c;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    position: static;
    box-sizing: border-box;
    background: transparent;
  }
  .sidebar button {
    color: #333;
    width: 100%;
  }
}
.sidebar_item {
  display: block;
  width: 33%;
  height: 2em;
  line-height: 2em;
  font-size: 1.1em;
}
@media only screen and (max-width: 768px) {
  .sidebar_item button {
    font-size: 1.5em;
  }
}
.sidebar_item:hover {
  transition: 1s;
  border-radius: 5px;
}
.menu_item_sidebar {
  position: relative;
}
.menu_item_sidebar:hover {
  color: #ffd545;
  transition: .3s;
}
.menu_item_sidebar:hover .sidebar {
  display: flex;
  flex-flow: row wrap;
}
.carousel_wrapper {
  width: 90%;
  height: 100vh;
  margin: auto;
  border: 10px solid #ffd545;
  position: relative;
  overflow: hidden;
}
.carousel_item {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: slide;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes slide {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.carousel_item_0 {
  animation-delay: 15s;
}
.carousel_item_1 {
  animation-delay: 10s;
}
.carousel_item_2 {
  animation-delay: 5s;
}
.carousel_item_3 {
  animation-delay: 0s;
}
.carousel_name {
  position: absolute;
  top: 70%;
  width: 100%;
  background: #000000;
  opacity: .5;
  padding: 5px 10px;
  color: #ffffff;
  box-sizing: border-box;
}
.carousel_name a {
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.carousel_image {
  width: 100%;
  height: 100%;
}
.carousel_overview {
  font-size: 15px;
  text-align: left;
}
.options {
  padding: 0 1.3% 1.3%;
  text-align: right;
}
.filter_button {
  display: inline-block;
  border: none;
  background-color: #737284;
  color: #ffffff;
  font-size: 1.2em;
  padding: 5px 10px;
  outline: none;
  opacity: 1;
  letter-spacing: 2px;
}
.filter_button_active {
  opacity: .8;
}
.filter_arrow_down::before {
  content: '\25BC';
  padding-right: 5px;
}
.filter_arrow_up::before {
  content: '\25B2';
  padding-right: 5px;
}
.filter_form {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  background: #737284;
}
.filter_form_submit {
  margin-top: 1%;
  padding: 1% 0;
  background: #ff971e;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  text-align: center;
}
.filter_form_submit:active {
  background: #737284;
}
.filter_name {
  padding: .2em 0;
  font-size: 0.8em;
  font-weight: bold;
  color: #ffffff;
  text-align: start;
}
.filter_select {
  background: #ccc;
  padding: .3em 0;
  font-size: 1em;
  outline-color: #ff971e;
}
.filter_select option {
  background: #ccc;
}
.search {
  position: absolute;
  right: 10%;
  align-self: center;
  background: #35323d;
  border: 3px double #737284;
}
@media only screen and (max-width: 768px) {
  .search {
    position: absolute;
    right: 0;
    align-self: center;
    order: -1;
    background: transparent;
    border: 1px solid black;
    height: 100%;
  }
}
.search_button {
  width: 85%;
  background: transparent;
  color: #737284;
  padding: 2%;
  box-sizing: border-box;
}
.search_button:focus {
  color: #ffd545;
}
@media only screen and (max-width: 768px) {
  .search_button {
    display: none;
  }
}
.search_button_button {
  border: none;
  background: transparent;
  color: #000000;
}
@media only screen and (max-width: 768px) {
}
.search_button::-webkit-input-placeholder {
  color: #737284;
}
.list {
  margin: 0 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.list_item {
  margin: .5%;
  width: 20%;
  height: 320px;
  background: #000000;
  box-sizing: border-box;
  overflow: hidden;
}
.link_item {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}
.link_item_title {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  position: absolute;
  bottom: 0;
  padding: 1em 0;
  background: linear-gradient(to top, #000000, transparent);
}
.link_image {
  width: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.link_item_vote {
  text-align: center;
  font-size: 1em;
  color: #d34833;
}
.link_item_star {
  font-size: 1.3em;
}
.link_item_date {
  text-align: center;
  color: #000000;
}
.link_item_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
  border: 4px solid #ffd545;
  opacity: 0;
  padding: 2%;
  overflow: hidden;
  background: linear-gradient(to bottom, #ffffff 50%, transparent 95%);
}
.link_item:hover .link_item_hover {
  transition: .5s;
  opacity: 1;
}
.link_item_overiew {
  font-size: .7em;
  text-align: left;
  background: linear-gradient(to bottom, #000000 50%, transparent 95%);
  -webkit-background-clip: text;
  color: transparent;
}
.page_button_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
}
.page_button_item,
.page_button_item_active {
  margin: .1em;
  padding: .3em;
  min-width: 2em;
  text-align: center;
  border: 1px dotted #35323d;
  background-color: #737284;
  color: #ffffff;
}
.page_button_item:active,
.page_button_item_active:active {
  background-color: #35323d;
}
.page_button_item_active {
  background-color: #35323d;
  color: #ffd545;
  font-weight: bold;
}
.item_description {
  padding: 1em;
  display: flex;
  flex-direction: row;
}
.item_title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
.item_info {
  width: 100%;
  padding-left: 1em;
}
.item_info td:first-child {
  font-weight: lighter;
  vertical-align: top;
}
.item_info a {
  font-weight: bolder;
}
.cast_wrapper {
  height: 100%;
  width: 100%;
}
.cast_main_content {
  display: flex;
}
.cast {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.cast_arrow {
  margin: .1em;
  padding: .3em;
  min-width: 2em;
  text-align: center;
  border: 1px dotted #35323d;
  background-color: #ffffff;
  color: #737284;
}
.cast_arrow:active {
  background-color: #35323d;
}
.person_Link {
  width: 110px;
  height: 100%;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px #000000;
  background: #35323d;
}
.person_link_image {
  width: 100%;
}
.character {
  color: #828280;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
.person_Link:hover .character {
  display: block;
}
.video {
  margin: 1% auto;
  width: 560px;
  height: 100%;
  background-color: #35323d;
  border: 1px dotted #737284;
}
.video_buttons {
  display: flex;
  align-items: stretch;
  font-size: 2em;
}
.button_video {
  width: 186.66666667px;
  padding: 5px 15px;
  background: #35323d;
  color: #ffffff;
}
.button_video_active {
  width: 186.66666667px;
  padding: 5px 15px;
  background: #2bb59c;
  color: #ffd545;
}
.button_video:focus {
  outline: 0;
}
.subtitle {
  padding: 0 0 .5em 1em;
  font-size: 2em;
  font-weight: bold;
  color: #737284;
}
.personFilmography {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #ccc;
}
.personFilmography_button {
  flex-basis: 50%;
  padding: .5em 1em;
  font-size: 2em;
  font-weight: bold;
  color: #737284;
  border: 0.1em solid #ccc;
}
.personFilmography_button_active {
  flex-basis: 50%;
  padding: .5em 1em;
  font-size: 2em;
  font-weight: bold;
  color: #737284;
  background-color: white;
}
.personFilmography_button_active_left {
  border-bottom: .1em solid white;
}
.personFilmography_button_active_right {
  border-bottom: .1em solid white;
}
.review {
  margin: 2em 1em;
  padding: 1em;
  box-shadow: 0 0 10px #737284;
}
.review_author {
  font-weight: bold;
  font-style: italic;
  color: #35323d;
}
.review_content {
  font-size: .8em;
}
.null {
  display: none;
}
.btns_arrow {
  text-align: center;
}
.btn_arrow {
  border: none;
  background: none;
  padding: 0 1em;
  color: #35323d;
  font-size: 1.2em;
  font-weight: bold;
}
.btn_arrow:hover {
  transition: .5s;
  color: #2bb59c;
}
.footer {
  background: #ccc;
  padding: 1em;
  text-align: right;
}
.footer a {
  font-weight: lighter;
}
.user,
.user_logout {
  margin-left: auto;
  padding: 0 1em;
  border: 4px double #737284;
  background: #35323d;
}
.user_logout {
  background: #ccc;
}
.user_btn {
  background: transparent;
}
.user_log {
  width: 25%;
  z-index: 10;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.user_log_btns {
  display: flex;
  justify-content: space-around;
}
.user_log_btn {
  width: 40%;
  height: 3em;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
}
.user_log_btn:hover {
  outline: 0.1em solid #ff971e;
  color: #ff971e;
}
.user_dublicate_true,
.user_auth_false {
  color: #d34833;
  font-weight: bold;
  margin-bottom: .5em;
  padding-left: 1em;
}
.user_dublicat_false,
.user_auth_true {
  display: none;
}
.user_log_form {
  box-sizing: border-box;
  margin-top: 1em;
}
.user_form {
  display: flex;
  flex-direction: column;
}
.user_log_form_inp,
.user_log_form_inp_err {
  height: 3em;
  border: 0.1em solid #ffd545;
  background: #ffffff;
  margin-bottom: 1em;
  padding-left: 1em;
}
.user_log_form_inp:focus,
.user_log_form_inp_err:focus {
  outline: 0.2em solid #2bb59c;
}
.user_log_form_inp::-webkit-input-placeholder,
.user_log_form_inp_err::-webkit-input-placeholder {
  color: #737284;
}
.user_log_form_inp_err {
  border: 0.1em solid #d34833;
}
.user_log_form_submit {
  height: 3em;
  background: #ff971e;
  color: #ffffff;
  font-size: 1.1em;
  border: 0.1em solid #ff971e;
}
.user_lof_form_hint {
  color: #737284;
  font-size: .8em;
  margin-bottom: 1em;
}
.userinfo_btn {
  width: 100%;
  text-align: start;
  font-size: 1em;
  padding: .2em;
  color: #737284;
}
.userinfo_btn:hover {
  color: #333;
}
.userinfo_btn_sbt {
  border-top: 0.05em solid rgba(115, 114, 132, 0.5);
  padding-top: .5em;
  margin-top: .5em;
}
.isFavoriteFalse,
.isFavorite {
  cursor: pointer;
  position: absolute;
  top: 10em;
  right: 2em;
  background: #737284;
  height: 1.5em;
  width: 1.5em;
  transform: rotate(-45deg);
}
.isFavoriteFalse:before,
.isFavorite:before,
.isFavoriteFalse:after,
.isFavorite:after {
  content: '';
  background: #737284;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
}
.isFavoriteFalse:before,
.isFavorite:before {
  top: -0.75em;
  left: 0;
}
.isFavoriteFalse:after,
.isFavorite:after {
  top: 0;
}
.isFavorite {
  background: #d34833;
}
.isFavorite:before,
.isFavorite:after {
  background: #d34833;
}
